{% extends "home/base_home.html" %}
{% load  static %}
{% load i18n %}


{% block title %}
    {% trans "Terms & Conditions" %}
{% endblock %}


{% block description %}
{% endblock %}

{% block content %}
<div class="wrapper flex_align_justify" style="background: #b2d6fc">
   <div class="tc_wrap _container-terms-conditions">
       <div class="tabs_list">
         <ul style="list-style: none">
           <li data-tc="tab_item_1" class="active">{% trans "Terms of use" %}</li>
           <li data-tc="tab_item_2">{% trans "Intellectual property rights" %}</li>
           <li data-tc="tab_item_3">{% trans "Prohibited activities" %}</li>
           <li data-tc="tab_item_4">{% trans "Termination clause" %}</li>
           <li data-tc="tab_item_5">{% trans "Governing law" %}</li>
         </ul>
       </div>
       <div class="tabs_content">
          <div class="tab_head">
            <h2>{% trans "Terms & Conditions" %}</h2>
          </div>
          <div class="tab_body">
            <div class="tab_item tab_item_1">
                <h3>{% trans "Terms of use" %}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p>
            </div>
            <div class="tab_item tab_item_2" style="display: none;">
                <h3>{% trans "Intellectual property rights" %}</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia odit neque a natus fuga incidunt, facilis, consequatur ducimus vitae consectetur reiciendis tempora explicabo animi quis laborum possimus totam voluptatum illum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p>
            </div>
            <div class="tab_item tab_item_3"  style="display: none;">
                <h3>{% trans "Prohibited activities" %}</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat sit commodi esse enim? Cum tempore deserunt numquam molestias. Pariatur, minima consequatur nam exercitationem explicabo porro quibusdam. Excepturi, voluptatibus repellendus. Provident!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit praesentium reiciendis aut debitis minima earum fugiat quam aspernatur qui. Labore, aliquam iste. A quasi ut accusantium laboriosam eius sequi?</p>
            </div>
            <div class="tab_item tab_item_4"  style="display: none;">
                <h3>{% trans "Termination clause" %}</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quae ipsa, enim aspernatur ducimus vero! Repellendus exercitationem dolore, voluptatibus consectetur facere eveniet in, corporis, nostrum animi unde recusandae repudiandae. Excepturi.</p>
            </div>
            <div class="tab_item tab_item_5"  style="display: none;">
                <h3>{% trans "Governing law" %}</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem alias nemo eius aspernatur doloremque laboriosam velit, consequatur nesciunt, ipsum facere autem, dicta quam consectetur! Nostrum quae odit adipisci omnis asperiores!</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem alias nemo eius aspernatur doloremque laboriosam velit, consequatur nesciunt, ipsum facere autem, dicta quam consectetur! Nostrum quae odit adipisci omnis asperiores!</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem alias nemo eius aspernatur doloremque laboriosam velit, consequatur nesciunt, ipsum facere autem, dicta quam consectetur! Nostrum quae odit adipisci omnis asperiores!</p>
            </div>
          </div>
          <div class="tab_foot flex_align_justify">
{#            <button class="decline">#}
{#              Decline#}
{#            </button>#}
{#            <button class="agree">#}
{#              Agree#}
{#            </button>#}
          </div>
       </div>
   </div>
</div>
{% endblock content %}

