{% extends "shifts/base_shifts.html" %}
{% load  static %}
{% load i18n %}


{% block title %}
    {% trans "Update Shift" %}
{% endblock %}


{% block description %}
{% endblock %}

{% block content %}
    <main class="_main-home">
        <section class="h-100 h-custom" style="background-color: rgba(174,212,252,0.92);">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-8 col-xl-6">
                        <div class="card rounded-3">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                                 class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                                 alt="Sample photo">
                            <div class="card-body p-4 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">{% trans "Update Shift" %}</h3>
                                <form method="post" class="px-md-2"> {% csrf_token %}
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1q"><strong>{% trans "User" %}:</strong></label>
                                        {{ form.user }}
                                        {{ shift.user.first_name }} {{ shift.user.last_name }},  {{ shift.user.email }}
                                    </div>
                                    {% if form.errors.user %}
                                        <strong style="color: #ff5959">{{ form.errors.user }}</strong>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline datepicker">
                                                <label for="exampleDatepicker1"
                                                       class="form-label"><strong>{% trans "Category" %}</strong></label>
                                                {{ form.shift_category }}
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-4">
                                            <label for="exampleDatepicker1" class="form-label"><strong>{% trans "Is temporal" %}?</strong></label></br>
                                            {{ form.is_temporal }}
                                        </div>
                                    </div>
                                    <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1w"><strong>{% trans "Duration" %}</strong></label>
                                                {{ form.duration }}
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-4">
                                            <label for="exampleDatepicker1"
                                                   class="form-label"><strong>Status</strong></label></br>
                                            {{ form.status }}
                                        </div>
                                    </div>
                                    <button type="submit" name="save" class="btn  btn-lg mb-1 _button-save">{% trans "Save" %}</button>
                                    <a  class="btn  btn-lg mb-1 _button-cancel" href="{%  url 'shifts_app:list-shifts' %}" style="margin-left: 1.5rem">{% trans "Cancel" %}</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}