._div-form-search{
    margin-left: auto;
    margin-right: 2rem;
}

._form-search{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

._button-form-search{
    margin: 1rem;
}