* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
._body-class{
    background-color: #e3f2fd; /* Cambia "lightblue" al color que desees */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Body class*/
._main-home {
    margin-top: 5rem;
    margin-left: 1rem;
    flex: 1;
}