{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<header class="_my-header">
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #048ABF; padding: 1rem">
        <a class="navbar-brand" href="#" style="margin-left: 1rem">Scheduler</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link _links-header " href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <div class="_div-left-header">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Language" %}
                    </a>
                    <div class="dropdown-content" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="{% url 'home_app:change-language' 'es' %}"> {% trans "Spanish" %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{% url 'home_app:change-language' 'en' %}"> {% trans "English" %}</a>
                    </div>
                </div>
                <form class="form-inline my-2 my-lg-0 _form-search">
                    <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light my-2 my-sm-0 _button-form-search" type="submit">Search</button>
                </form>

                {% if user.is_authenticated %}
                    <div>
                        {% if user.profile_image %}
                            <a href="{% url 'users_app:profile-update' %}">
                                <img class="rounded-circle shadow-1-strong me-2"
                                     src="/media/{{ user.profile_image }}" alt="avatar"
                                     width="45"
                                     height="45"/>
                            </a>
                        {% else %}
                            <a href="{% url 'users_app:profile-update' %}">
                                <img class="rounded-circle shadow-1-strong me-3"
                                     src="{% static "img/users/Anon_profile.png" %}" alt="avatar"
                                     width="45"
                                     height="45"/>
                            </a>
                        {% endif %}
                    </div>
                    <form method="post" action="{% url 'users_app:logout' %}">  {% csrf_token %}
                        <button class="btn  my-2 my-sm-0 _button-header-logout"
                                type="submit">{% trans "Logout" %}</button>
                    </form>
                {% else %}
                    <a href="{% url 'users_app:login' %}" class="btn my-2 my-sm-0 _button-header-login">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>