<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load  static %}
{% load i18n %}


{% block title %}
    {% trans "Login" %}
{% endblock %}


{% block description %}
{% endblock %}

{% block content %}
    <main class="_main-home">
        <section class="h-100 gradient-form" style="background-color: #eee;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-10">
                        <div class="card rounded-3 text-black">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="card-body p-md-5 mx-md-4">

                                        <div class="text-center">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                                 style="width: 185px;" alt="logo">
                                            <h4 class="mt-1 mb-5 pb-1 _pruebass" style="font-weight: bold;">{% trans "We are Xibal Team" %}</h4>
                                        </div>

                                        <form method="post">{% csrf_token %}
                                            <p>{% trans "Please login to your account" %}</p>
                                            <div class="form-outline mb-4">
                                                {{ form.username }}
                                            </div>
                                            <div class="form-outline mb-4">
                                                {{ form.password }}
                                            </div>
                                            {% if messages %}
                                                <ul class="messages">
                                                    {% for message in messages %}
                                                        {% if message.tags == 'error' %}
                                                            <li class="{{ message.tags }}"
                                                                style="color: #ff5959">{{ message }}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            <div> {{ form.captcha }}</div>
                                            <div class="text-center pt-1 mb-5 pb-1">
                                                <button class="btn _btn-block-login fa-lg gradient-custom-2 mb-3"
                                                        type="submit">Login
                                                </button>
                                                <a class="text-muted" style="text-decoration:none;" href="{% url 'users_app:password-reset' %}">{% trans "Forgot password" %}?</a>
                                            </div>
                                        </form>
                                        <div class="d-flex align-items-center justify-content-center pb-4">
                                            <form method="get" action="{% url 'users_app:register' %}">
                                                <p class="mb-0 me-2" style="    display: inline;">{% trans "Don't have an account" %}?</p>
                                                <button type="submit" class="btn btn-outline-primary">{% trans "Register" %}</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                        <h4 class="mb-4">{% trans "We are more than just a company" %}</h4>
                                        <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}