<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load  static %}
{% load i18n %}


{% block title %}
    {% trans "Email Send" %}
{% endblock %}


{% block description %}
{% endblock %}

{% block content %}
    <main>
        <section class="vh-100" style="background-color: rgba(174,212,252,0.92);">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <form method="post"> {% csrf_token %}
                                <div class="card-body p-5 text-center">
                                    <h3 class="mb-5">Reset Password</h3>
                                    <div style="margin-bottom: 1.5rem;">{{ form.email }}</div>
                                    <div style="margin-bottom: 1rem;">{{ form.captcha }}</div>
                                    {% if field.errors %}
                                        <small>{{ field.errors|striptags }}</small>
                                    {% endif %}
                                    <button type="submit" class="btn btn-outline-primary">Send Email
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}