<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load  static %}
{% load i18n %}


{% block title %}
    {% trans "Password Changed" %}
{% endblock %}


{% block description %}
{% endblock %}

{% block content %}
    <main>
        <section class="vh-100" style="background-color: rgba(174,212,252,0.92);">
            <h1>asdas</h1>
            <h1>asdas</h1>
            <h1>asdas</h1>
            <h1>asdas</h1>
            <h1>asdas</h1>
            <h1>Bien Yuni</h1>
        </section>
    </main>
{% endblock content %}