<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load  static %}
{% load i18n %}


{% block title %}
    {% trans "Change Password" %}
{% endblock %}


{% block description %}
{% endblock %}

{% block content %}
    <main>
        <section class="vh-100" style="background-color: rgba(174,212,252,0.92);">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong _card-box-shadow-blue" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <h3 class="mb-5">Change Password</h3>
                                <form method="post"> {% csrf_token %}

                                    <div class="form-outline mb-4">
                                        {{ form.old_password }}
                                        <label class="form-label" for="typeEmailX-2">Old Password</label>
                                    </div>
                                    {% if form.error.old_password %}
                                        <strong style="color: #ff5959">{{ form.errors.old_password }}</strong>
                                    {% endif %}
                                    <div class="form-outline mb-4">
                                        {{ form.new_password1 }}
                                        <label class="form-label" for="typeEmailX-2">New Password</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{ form.new_password2 }}
                                        <label class="form-label" for="typePasswordX-2">Confirm Password</label>
                                    </div>
                                    {% if form.errors.new_password2 %}
                                        <strong style="color: #ff5959">{{ form.errors.new_password2 }}</strong>
                                    {% endif %}

                                    <div class="form-outline mb-4">
                                        {{ form.captcha }}
                                    </div>
                                    {% if form.errors.new_password2 %}
                                        <strong style="color: #ff5959">{{ form.errors.captcha }}</strong>
                                    {% endif %}


                                    <!-- Checkbox -->
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}