<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load  static %}
{% load i18n %}


{% block title %}
    {% trans "Password Changed" %}
{% endblock %}


{% block description %}
{% endblock %}

{% block content %}
    <main class="_main-home">
            <section style="padding: 5rem 10rem 5rem 10rem; background-color: rgba(174,212,252,0.92);">
            <div class="_password-done-container">
                <div class="_password-done-card">
                    <div class="_circle-done-card">
                        <i class="checkmark _i-password-done">✓</i>
                    </div>
                    <h1 class="_h1-password-done">{% trans "Success" %}</h1>
                    <p class="_p-password-done">{% trans "Your email has been successfully sent" %};<br/> {% trans "It may take a few minutes to arrive" %}!</p>
                </div>
            </div>
                </section>
    </main>
{% endblock content %}