<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load  static %}
{% load i18n %}


{% block title %}
    {% trans "Change Password" %}
{% endblock %}


{% block description %}
{% endblock %}

{% block content %}
    <main>
        <section class="vh-100" style="background-color: rgba(174,212,252,0.92);">
            <h1>sadads</h1>
            <h1>sadads</h1>
            <h1>sadads</h1>
            <h1>sadads</h1>
            <h1>sadads</h1>
            <h1>sadads</h1>
            <form method="post"> {% csrf_token %}
            {{ form.as_p }}
                <button type="submit">Send</button>
            </form>
        </section>
    </main>
{% endblock content %}