<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load  static %}
{% load i18n %}


{% block title %}
    {% trans "Email Send" %}
{% endblock %}


{% block description %}
{% endblock %}

{% block content %}
    <main class="_main-home">
            <div class="_password-done-container">
                <div class="_password-done-card">
                    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                        <i class="checkmark _i-password-done">✓</i>
                    </div>
                    <h1 class="_h1-password-done">Success</h1>
                    <p class="_p-password-done">We received your purchase request;<br/> we'll be in touch shortly!</p>
                </div>
            </div>
    </main>
{% endblock content %}