<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load  static %}
{% load i18n %}


{% block title %}
    {% trans "Profile Update" %}
{% endblock %}


{% block description %}
{% endblock %}

{% block content %}
    <main class="_main-home">
        <section style="background-color: rgba(174,212,252,0.92);">
            <div class="container py-5">
                {#                <div class="row">#}
                {#                    <div class="col">#}
                {#                        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">#}
                {#                            <ol class="breadcrumb mb-0">#}
                {#                                <li class="breadcrumb-item"><a href="#">Home</a></li>#}
                {#                                <li class="breadcrumb-item"><a href="#">User</a></li>#}
                {#                                <li class="breadcrumb-item active" aria-current="page">User Profile</li>#}
                {#                            </ol>#}
                {#                        </nav>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4 _card-box-shadow-blue">
                            <div class="card-body text-center">
                                {% if user.profile_image %}
                                    <a href="/media/{{ user.profile_image }}" target="_blank">
                                        <img class="rounded-circle shadow-1-strong me-2"
                                             src="/media/{{ user.profile_image }}"
                                             alt="avatar"
                                             width="170"
                                             height="170"/>
                                    </a>
                                {% else %}
                                    <a href="{% static "img/users/Anon_profile.png" %}" target="_blank">
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="{% static "img/users/Anon_profile.png" %}" alt="avatar"
                                             width="170"
                                             height="170"/>
                                    </a>
                                {% endif %}
                                <h5 class="my-3">{{ profile.first_name }} {{ profile.last_name }}</h5>
                                <p class="text-muted mb-1">Full Stack Developer</p>
                                <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <button type="button" class="btn btn-primary"
                                            onclick="document.getElementById('submitFormButton').click();">{% trans "Save" %}
                                    </button>
                                    <a class="btn btn-outline-primary ms-1"
                                       href="{% url 'users_app:password-change' %}">{% trans "Change Password" %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4 mb-lg-0 _card-box-shadow-blue">
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fas fa-globe fa-lg text-warning"></i>
                                        <p class="mb-0">https://mdbootstrap.com</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                        <p class="mb-0">@mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="card mb-4 _card-box-shadow-blue">
                                <div class="card-body">
                                    <div class="row" style="margin:1rem 1rem 1rem 1rem">
                                        <div class="col-sm-3">
                                            <p class="mb-0">{% trans "First Name" %}</p>
                                        </div>
                                        <div class="col-sm-6 d-flex align-items-center">
                                            <i class="fa-solid fa-address-book fa-lg me-3 fa-fw"></i>
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin:1rem 1rem 1rem 1rem">
                                        <div class="col-sm-3">
                                            <p class="mb-0">{% trans "Last Name" %}</p>
                                        </div>
                                        <div class="col-sm-6 d-flex align-items-center">
                                            <i class="fa-solid fa-address-card fa-lg me-3 fa-fw"></i>
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin:1rem 1rem 1rem 1rem">
                                        <div class="col-sm-3">
                                            <p class="mb-0">{% trans "Profile Image" %}</p>
                                        </div>
                                        <div class="col-sm-6 d-flex align-items-center">
                                            <i class="fa-solid fa-image fa-lg me-3 fa-fw"></i>
                                            {{ form.profile_image }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin:1rem 1rem 1rem 1rem">
                                        <div class="col-sm-3">
                                            <p class="mb-0">{% trans "Phone Number" %}</p>
                                        </div>
                                        <div class="col-sm-6 d-flex align-items-center">
                                            <i class="fa-solid fa-phone fa-lg me-3 fa-fw"></i>
                                            {{ form.phone_number }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin:1rem 1rem 1rem 1rem">
                                        <div class="col-sm-3">
                                            <p class="mb-0">{% trans "Gender" %}</p>
                                        </div>
                                        <div class="col-sm-6 d-flex align-items-center">
                                            <i class="fa-solid fa-users fa-lg me-3 fa-fw"></i>
                                            {{ form.gender }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="submitFormButton" style="display: none;">Pruebas</button>
                            {#                              <input type="submit" id="submitFormButton" style="display: none;">#}
                        </form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0 _card-box-shadow-blue">
                                    <div class="card-body">
                                        <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span>
                                            Project Status
                                        </p>
                                        <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 80%"
                                                 aria-valuenow="80"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 72%"
                                                 aria-valuenow="72"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 89%"
                                                 aria-valuenow="89"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 55%"
                                                 aria-valuenow="55"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                        <div class="progress rounded mb-2" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 66%"
                                                 aria-valuenow="66"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0 _card-box-shadow-blue">
                                    <div class="card-body">
                                        <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span>
                                            Project Status
                                        </p>
                                        <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 80%"
                                                 aria-valuenow="80"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 72%"
                                                 aria-valuenow="72"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 89%"
                                                 aria-valuenow="89"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                        <div class="progress rounded" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 55%"
                                                 aria-valuenow="55"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                        <div class="progress rounded mb-2" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar" style="width: 66%"
                                                 aria-valuenow="66"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}