<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load  static %}
{% load i18n %}


{% block title %}
  {% trans "Register" %}
{% endblock %}


{% block description %}
    {#   todo After see, what is this? #}
{% endblock %}

{% block content %}
    <main class="_main-home">
        <h1>Register</h1>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    </main>
{% endblock content %}